<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simon Legros | Developpement web et mobile</title>
    <!-- Pour les icons media sociaux -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/semantic/fonts.css">
    <link rel="stylesheet" href="/static/semantic/global.css">
    <script src="/static/js/header_scroll.js"></script>
    
</head>
  <body class="body-top">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container grid-header-big" id="header-scroll">
        <div class="header-top" id="header-top">
          <div class="green-border">
            <img class="header-logo" id="header-logo" src="/static/logo.png" alt="LOGO">
            <h1 class="header-text" id="header-text"><a href="/">Simon Legros</a></h1>
          </div>
        </div>
        <h2 id="header-job">Software Developer</h2>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navLinks">
          <ul class="nav navbar-nav" >
            <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="game"><span class="gameicon"></span> GAME</a></li>
            <li class="active"><a href="aboutgame"><span class="glyphicon glyphicon-info-sign"></span> About game</a></li>
            <li><a href="#contact"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container black-trans-bg">
      <h1 class="mainTitle">BomberBlock</h1>
      <p>
           BomberBlock is a real-time multiplayer rpg combat game. <b>The main goal</b> : Eleminate the most enemies and get the best score 
           you can to be listed on the Ultimate BomberKillers. 
           The name <b>BomberBlock</b> came at first because it was only suppose to be a cubic world with cubic bombs. The name 
           stayed, even though many things have changed since the beginning.
      </p>
      <p>
          BomberBlock was developed for the most recent web technologies, as NodeJS and Chrome's V8.
      </p>
<h3 class="smallTitle">The game</h3>
      <p>Spawn in a small world and compete against other players for a place on podium. Eleminate the most enemy and conquert the base the longger you can to score bigger points!</p>
      <p>By killing other players, you score points, but you also make them drop some money. You better collect it fast before
        anyone do it first!
      </p>
      <p>Money can be exchanged for ammunition int the Market of the setting menu (up-right corner).</p>
      <p>A new cryptocurrency have been added to the game to help on playabilty. Its called Sweatcoin, and its based on the real cryto with the same name.
        Sweatcoins may be mined while sweating only. To gain some, you will need to walk or run! Sweatcoin are also easy to collect, and at any moment, you can exchange it against money.
        Obviously, the exchange rate is low, since today's sweatcoin's value is realy low!
      </p>
      <p>In need of life or other equipment, as bullets or shield, you can refer to one of the 4 Perk Stations in the map. The perks (Instant improvement) are spawn randomly, at random moment.
        Be sure to stick arround one if you are in need!
      </p>
    </div>
    <div class="black-bg">
      <div class="container">
        <div class="img-1"></div>
        <div class="img-2"></div>
      </div>
    </div>
<div class="container black-trans-bg margin-top-25">
      <h2 class="subtitle">How To Play</h1>
      <p>
        BomberBlock is super easy to play! Just go to <b><i>Game</i></b> page, login with your name and your color, and Find a Game!
      </p>
      <p>
        Once you are in a game, Survive, defend your self and try to stay long enought on the <b><i>Base</i></b> to gain
        many points!
      </p>
      <p>Movements are a bit tricky. Basically, the player's always following the pointer (mouse). When you press <b><i>W</i></b>,
      you are walking forward in pointer's direction. Do not forget about it!
      </p>
      <p>To Jump, press <b><i>Spacebar</i></b>. You can double-jump, but it's a bit tricky!</p>
      <p>
        To <b><i>Shoot</i></b>, left-click your mice!
      </p>
      <p>To see the score board, hold <b><i>TAB</i></b></p>
      <p>
        To see setting panel, press <b><i>P</i></b>  or click on the gear on the top-right corner. In the settings, 
      there is the market section where you can buy bullets or exchange all of your sweatcoins. The other section is to control
      music : you can mute or change de volume, get previous or next song.
      </p>
      <p>
        If you wish to <b><i>Chat</i></b> with others players, press <b><i>C</i></b> to show the chat panel. Quick keyboard 
        shortcut have been made to accelerate playability. When Chat is visible, press <b><i>Enter</i></b> to focus on the chat input, 
        press again to send your new message, and press again to remove focus from the chat. These step must be done to prevent 
        using important keys of the game, as the movement (WASD).
      </p>
      <div class="controlesCtn">
        <h3>Controls :</h3>
        <img src="/static/images/keyboard.png" alt="Contrôles du jeu" >
        <img src="/static/images/mouse.png" alt="Contrôles du jeu" width="250" height="250">
      </div>
    </div>
    <div class="black-bg">
      <div class="container">
        <div class="img-1"></div>
        <div class="img-2"></div>
      </div>
    </div>
    <div class="container black-trans-bg margin-top-25">
        <h2 class="subtitle">Used technology</h1>
        <p>
          Listed below are all the web technology I used for my project. Be free to click on the icons to learn more
          about each of them!
        </p>
        <div class="usedTechCtn">
          <div>
            <a href="https://nodejs.org/en/" target="_blank" class="fab fa-node-js fa-7x"></a>
            <p> Node.js is an open-source, cross-platform JavaScript run-time environment that executes JavaScript code server-side.
            <a href="https://socket.io/">Socket.io</a> is a Node module used to enable real-time bidirectional event-based communication.
            </p>
          </div>
          <div>
            <a href="https://www.npmjs.com/" target="_blank" class="fab fa-npm fa-7x"></a>
            <p> NPM is a package manager for the JavaScript programming language. It is the default package manager for the JavaScript runtime
              environment Node.js. It consists of a command line client, also called npm, and an online database of public and paid-for
              private packages, called the npm registry. </p>
          </div>
          <div>
            <a href="https://www.sqlite.org/index.html" target="_blank" class="fas fa-database fa-7x"></a>
            <p> SQLite3 is a relational database management system. It was used in my project to keep the scores of all players!</p>
          </div>
          <div>
            <a href="https://developers.google.com/v8/" target="_blank" class="fab fa-chrome fa-7x"></a>
            <p> Chrome V8, or simply V8, is an open-source JavaScript engine developed by The Chromium Project for Google Chrome and Chromium
              web browsers.</p>
          </div>
          <div>
            <a href="https://www.digitalocean.com/" target="_blank" class="fab fa-digital-ocean fa-7x"></a>
<p> DigitalOcean provides developers cloud services that help to deploy and scale applications that run simultaneously on multiple
  computers. </p>
          </div>
          <div class="lastRow">
            <a href="https://www.w3schools.com/html/html5_intro.asp" target="_blank" class="fab fa-html5 fa-7x"></a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" target="_blank" class="fab fa-css3 fa-7x"></a>
<a href="https://developer.mozilla.org/fr/docs/Web/JavaScript" target="_blank" class="fab fa-js fa-7x"></a>
          </div>  
        </div>
    </div>

    <footer>
      <div class="container">
        <div>
          &copy; 2018 SimonLegros.ca
        </div>
        <div class="links-ctn">
          <a href="#" class="fab fa-facebook"></a>
          <a href="#" class="fab fa-google"></a>
<a href="https://www.linkedin.com/in/simon-legros-060426127/" target="_blank" class="fab fa-linkedin"></a>
<a href="https://bitbucket.org/simon_legros/" target="_blank" class="fab fa-bitbucket"></a>
        </div>
      </div>
    </footer>
  </body>
</html>
