<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simon Legros | Developpement web et mobile</title>
    <link rel="stylesheet" href="/game/semantic/fonts.css">
    <link rel="stylesheet" href="/game/semantic/game-dev.css">
    <link rel="stylesheet" href="/game/semantic/spectrum.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="body-top">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="green-border">
                    <img class="header-logo" src="/game/logo.png" alt="LOGO">
                    <h1 class="header-text">
                        <a href="/">Simon Legros</a>
                    </h1>
                </div>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">
                            <span class="glyphicon glyphicon-home"></span> Home</a>
                    </li>
                    <li class="active">
                        <a href="/game">
                            <span class="gameicon"></span> GAME</a>
                    </li>
                    <li><a href="/aboutgame"><span class="glyphicon glyphicon-info-sign"></span> About game</a></li>
                    <li>
                        <a href="#contact">
                            <span class="glyphicon glyphicon-envelope"></span> Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="ctn-dev">
        <h3 class="jumbo-title">
            En développement ! Bientôt en ligne ...
        </h3>
    </div>
</body>

</html>